<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoPlay_Front"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.ResetPwdActivity"
            android:exported="false" />
        <activity
            android:name=".view.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".view.ForgetPwdActivity"
            android:exported="false" />
        <activity
            android:name=".view.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.EcoPlay_Front">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.ItemDetailBottomSheet"
            android:exported="false" />
        <activity
            android:name=".fragments.AddCommentDialogFragment"
            android:exported="false" />
        <activity android:name=".view.RateActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>

        <activity
            android:name=".adapter.CommentsAdapter"
            android:exported="false" />
        <activity
            android:name=".adapter.ChallengeAdapter"
            android:exported="false" />
        <activity
            android:name=".view.ActivityCommunity"
            android:exported="false" />
        <activity
            android:name=".view.challengesCommunity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>

        <activity
            android:name=".view.ProductDetails"
            android:exported="true"/>
        <activity
            android:name=".view.ViewCart"
            android:exported="true" />
        <activity
            android:name=".view.CarouselMain"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.AstuceDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".view.AstuceActivity"
            android:exported="true" />


        <!-- Update the launcher activity to AstuceHomeActivity -->
        <activity
            android:name=".view.AstuceHomeActivity"
            android:exported="true">

        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>